@import url('./fonts.css');
@import url('./nrmlz.css');
@import url('./header.css');
@import url('./main.css');

body {
	font-family: 'Roboto Regular', sans-serif;
	letter-spacing: 1px;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 24px;
}
